.video_detail > div{
    font-size: 10px;
    flex-direction: row;
}
.card{
    border: none;
}
.card-text{
    text-align: center;
}
.card-footer >div{
    background-color:transparent;
}
.card-img-top {
    width: 350px;
    height: 100px;
    object-fit: cover;
  }
  .video{
    width: 350px;
    height: 50px;
  }
  .card{
    border: none;
}