.video_detail > div{
    font-size: 10px;
    flex-direction: row;
}
.card-text{
    text-align: center;
}
.card-footer >div{
    background-color:transparent;
}
.card-img-top {
    width: 250px;
    height: 190px;
    object-fit: cover;
  }
  .video{
    width: 250px;
    height: 190px;
  }