.video_detail > div{
    font-size: 10px;
    flex-direction: row;
}
.card-text{
    text-align: center;
}
.card-footer >div{
    background-color:transparent;
}
.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
  }