.card {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    /* Distribute space between left and right sides */
    align-items: center;
    /* Align items vertically */
}

.left-content {
    display: flex;
    align-items: center;
    /* Align items vertically */
    flex-grow: 1;
    /* Take up all available space */
}

.right-content {
    flex-grow: 0;
    /* Do not grow */
}

.card-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.card-details {
    display: block;
    text-align: left;
    padding-left: 7px;
    padding-right: 7px;
}

.card-name {
    font-family: Arial, sans-serif;
    margin: 0;
    color: hsl(0, 0%, 20%);
}

.card-followers {
    font-family: Arial, sans-serif;
}

.card-sub-button {
    margin-left: 10px;
    /* Space between details and subscribe button */
    border-radius: 5%;
}

.other-buttons {
    display: flex;
    gap: 5px;
    /* Space between buttons */
}

.like {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 0px;
}

.dislike {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 0px;
}