.custom-button {
    font-size: 14px;
    /* Adjust font size */
    padding: 10px 20px;
    /* Adjust padding */
    border-radius: 8px;
    /* Adjust border radius */
    border: 2px solid #000;
    /* Custom border color and width */
}

h1 {
    font-size: 18px;
    font-weight: unset;
}

p {
    font-size: 12px;
    color: hwb(0 75% 20%);
}

.card {
    margin: 10px;
    max-width: 100%;
    height: 40px;
    display: inline-block;
    display: flex;

    align-items: flex-start;
}

.card-image {

    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.card-details {
    display: block;
    text-align: left;
    padding-left: 7px;
    padding-right: 7px;
}

.card-name {
    font-family: Arial, sans-serif;
    margin: 0;
    color: hsl(0, 0%, 20%);
}

.card-followers {
    font-family: Arial, sans-serif;
}

.card-sub-button {
    border-radius: 5%;
}

.other-buttons {
    padding-left: 5px;
    align-items: flex-end;
    align-self: flex-end;
    display: inline-flex;
}

.like {
    border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    border-left: 0px;
}

.dislike {
    border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    border-right: 0px;
}