.form-inline{
display: flex;
flex-direction: row;
margin-left: 160px;
width : 500px;
}
.navbar-brand{
    margin-left : 60px;
}
.d-flex{
margin-right:500px;
width:150px;
}
#sidenav{
width: 150px;
height: 60px;
}
